.product-card {
    display: flex;
    gap: 20px;
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.product-card:hover {
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}

.product-image {
    width: 150px;
    border-radius: 10px;
    border: 3px solid #1589ee;
}

.details {
    flex: 1;
}

.price {
    font-size: 18px;
    color: green;
    font-weight: bold;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.grand-total {
    margin-top: 15px;
    font-size: 18px;
    color: #1589ee;
}